<ion-header>
    <ion-navbar color="primary">
        <ion-title>List of Log</ion-title>
        <ion-buttons end>
            <button text-right ion-button icon-only (click)="goToHome()">
             <ion-icon ios="ios-home" md="md-home"></ion-icon>
           </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content>
    <div *ngIf="isAvailable" text-center padding-top>
        <b class="error-box" style="font-size: 24px;">No Log Found</b>
    </div>
    <ion-card *ngFor="let l of logJson">
        <ion-item>

            <table>
                <tr>
                    <td>
                        <h2><b>No </b></h2>
                    </td>
                    <td> &nbsp;:&nbsp;</td>
                    <td>{{l.putNo}} </td>
                </tr>
                <tr>
                    <td>
                        <h2><b>Date</b></h2>
                    </td>
                    <td> &nbsp;:&nbsp;</td>
                    <td>
                        {{l.logDate}}
                    </td>
                </tr>
                <tr>
                    <td>
                        <h2><b>Mode</b></h2>
                    </td>
                    <td> &nbsp;:&nbsp;</td>
                    <td>
                        {{l.logMode}}
                    </td>
                </tr>
            </table>
        </ion-item>
    </ion-card>
</ion-content>