<ion-header>
    <ion-navbar color="primary">
        <ion-title>List of Log</ion-title>
        <ion-buttons end>
            <button text-right ion-button icon-only (click)="goToHome()">
             <ion-icon ios="ios-home" md="md-home"></ion-icon>
           </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content>
    <div *ngIf="isAvailable" text-center padding-top>
        <b class="error-box" style="font-size: 24px;">No Log Found</b>
    </div>
    <ion-card *ngFor="let l of logJson">
        <ion-item>
            <h2><span><b>Put No  : </b></span>{{l.putNo}} </h2>
            <h2><span><b>Date &nbsp;&nbsp;&nbsp;: </b></span>{{l.logDate}} </h2>
            <h2><span><b>Mode &nbsp;: </b></span>{{l.logMode}} </h2>
        </ion-item>
    </ion-card>
</ion-content>