<ion-header>
    <ion-navbar color="primary">
        <ion-title>List Pick</ion-title>
        <ion-buttons end>
            <button text-right ion-button icon-only (click)="goToHome()">
              <ion-icon ios="ios-home" md="md-home"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>
<ion-content>
    <ion-card *ngFor="let p of pickJson">
        <ion-item (click)="goToPickDetails(p.pickID,p.pickNo)">
            <table>
                <tr>
                    <td>
                        <h2><b>Pick No </b></h2>
                    </td>
                    <td> &nbsp;:&nbsp;</td>
                    <td>{{p.pickNo}} </td>
                </tr>
                <tr>
                    <td>
                        <h2><b>Item Code </b></h2>
                    </td>
                    <td> &nbsp;:&nbsp;</td>
                    <td>
                        <ul class="ulClass">
                            <li class="liClass" *ngFor="let item of p.items">
                                {{item.itemCode}} /&nbsp;
                            </li>
                        </ul>
                    </td>
                </tr>
            </table>
        </ion-item>
    </ion-card>
</ion-content>