<ion-header>
    <ion-navbar color="primary">
        <ion-title>List Pick</ion-title>
        <ion-buttons end>
            <button text-right ion-button icon-only (click)="goToHome()">
              <ion-icon ios="ios-home" md="md-home"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>
<ion-content padding>
    <ion-card *ngFor="let p of pickJson">
        <ion-item (click)="goToPickDetails(p.pickID,p.pickNo)">
            <h2><span><b>Put No : </b></span> {{p.pickNo}}</h2>
            <h2><span><b>Item Code : </b></span>
                <div *ngFor="let item of p.items">{{item.itemName}}</div>
            </h2>
        </ion-item>
    </ion-card>
</ion-content>